{% extends 'blog/base.html' %}
{% block content %}
<h1 style="text-align:center;">{{title}}</h1>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-6 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"><img src="{{object.preview}}"
                                                         class="bd-placeholder-img card-img-top"
                                                         style="max-width: 20%;">
                </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{object.content}}</h1>
            </div>
            <div class="card-footer">
                Кол-во просмотров: {{object.count_views}}
            </div>
            <a href="{% url 'blog:update' post.pk %}">
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Редактировать
                </button>
            </a>
            <a href="{% url 'blog:delete' post.pk %}">
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Удалить пост
                </button>
            </a>
        </div>
    </div>
    {% endblock %}