{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-start">
        <h1 class="display-4">{{title}}</h1>
    </div>
    <form method="post"
          action="{% if post.pk %}{% url 'blog:update' post.pk %}{% else %}{% url 'blog:create' %}{% endif %}">
        {% csrf_token %}
        {% for f in form %}
        <p><label for="{{f.id_for_label}}">{{f.label}}: </label>{{f}}</p>
        <div>{{f.errors}}</div>
        {% endfor %}
        <a href="{% url 'blog:posts'%}">
            <input type="submit" class="btn btn-success" value="Сохранить">
        </a>
    </form>
</div>
{% endblock %}