{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">Skystore - вариант тестировачного каталога товаров</p>
</div>

<div class="container">
    <div class="row text-start">
        {% for product in products %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{product.price}}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{product.description|truncatechars:100}}</li>
                        <li>Дата поступления {{product.published_date}}</li>
                    </ul>
                    <a href="{% url 'catalog:product' product.id %}"
                       class="btn btn-lg btn-block btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}