{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<h1 style="text-align:center;">{{title}}</h1>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-6 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"><img src="{{object.image|mymedia}}"
                                                         class="bd-placeholder-img card-img-top"
                                                         style="max-width: 20%;">
                </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{object.price}}</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{object.description}}</li>
                </ul>
                {% if perms.catalog.change_product %}
                <button type="button" class="btn btn-lg btn-block btn-outline-primary"
                        onclick="window.location.href='{% url 'catalog:update_product' product.id %}'">Изменить продукт
                </button>
                {% endif %}
                {% if user.is_superuser %}
                <button type="button" class="btn btn-lg btn-block btn-outline-danger"
                        onclick="window.location.href='{% url 'catalog:delete_product' product.id %}'">Удалить продукт
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}